<?xml version="1.0" encoding="UTF-8"?>
<config>
    <host>dysonperley.pythonanywhere.com</host>
    <status>active</status>
    <version_required>Wii 1.0.12</version_required>
    <status_message></status_message>
    <preload_swf>fonts</preload_swf>
    <main_swf>WiiiPlayer</main_swf>
</config>
